<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Products</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-action-list>
          <a mat-list-item [routerLink]="['/products']" routerLinkActive="active">
            All categories
          </a>
          @for (category of categories(); track category) {
            <a mat-list-item [routerLink]="['/products', category]" routerLinkActive="active">
              {{ category }}
            </a>
          }
        </mat-action-list>
      </mat-expansion-panel>
      <!-- <a mat-list-item [routerLink]="['/client']" routerLinkActive="active">
        Client
      </a> -->
    </mat-nav-list>
  </mat-drawer>
  
  <div class="sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon style="margin: 0;">menu</mat-icon>
    </button>
  </div>
</mat-drawer-container>