<section class="product-list-content">
    @if (category(); as currentCategory) {
        <h1>Category: {{ currentCategory | capitalize }}</h1>
    } @else {
        <h1>All Products</h1>
    }
    
    <div class="toolbar-wrapper">
        <app-search-filter (searchChangeEvent)="onSearchChange($event)"></app-search-filter>

        <mat-slide-toggle [checked]="currencyService.currency() === 'EUR'" (change)="onCurrencyToggle()">
            {{ currencyService.currency() }}
        </mat-slide-toggle>
    </div>

    @if (isLoading()) {
        <div class="spinner-wrapper">
            <mat-spinner></mat-spinner>
        </div>
    } @else {
        @if (error(); as errorMsg) {
            <app-message [message]="errorMsg"></app-message>
        } @else {
            <app-products-table
                [products]="products()"
                [columns]="tableColumns"
                [length]="total()"
                [pageSize]="pageSize()"
                [pageIndex]="pageIndex()"
                (goToDetails)="onGoToDetails($event)"
                (pageChange)="onPageChange($event)"
            ></app-products-table>
        }
    } 
</section>
 