<section class="product-list-content">
    <h1>Category: {{ category() ? (category() || '-' | capitalize) : 'All Products' }}</h1>
    
    <div class="toolbar-wrapper">
        <app-search-filter (searchChangeEvent)="onSearchChange($event)"></app-search-filter>

        <mat-slide-toggle [checked]="currencyService.currency() === 'EUR'" (change)="onCurrencyToggle()">
            {{ currencyService.currency() }}
        </mat-slide-toggle>
    </div>

    @if (isLoading()) {
        <div class="spinner-wrapper">
            <mat-spinner></mat-spinner>
        </div>
    } @else {
        @if (error()) {
            <app-message [type]="'error'" [message]="error() || ''"></app-message>
        } @else {
            @if (!products().length) {
                <app-message [type]="'info'" [message]="noProductsFoundMessage"></app-message>
            } @else {
                <app-products-table
                    [products]="products()"
                    [columns]="tableColumns"
                    [length]="total()"
                    [pageSize]="pageSize()"
                    [pageIndex]="pageIndex()"
                    (goToDetails)="onGoToDetails($event)"
                    (pageChange)="onPageChange($event)"
                ></app-products-table>
            }
        }
    } 
</section>
 