<ng-container *ngIf="product() as productData">
    <form [formGroup]="form" class="product-details-content container">
      <div class="product-grid">
        <div class="product-image">
          <img
            *ngIf="productData.images?.length"
            [src]="productData.images[0]"
            [alt]="productData.title"
            class="product-image-img"
          />
        </div>

        <div class="product-info">
          <div class="product-details-wrapper">
            <p class="brand-name"><strong>Brand: </strong> <span class="brand-name-muted">{{ productData.brand || '-' }}</span></p>
            <ng-container *ngIf="!isEditing(); else editTitle">
              <h2 class="product-title">{{ productData.title }}</h2>
            </ng-container>
            <ng-template #editTitle>
              <mat-form-field appearance="fill">
                <mat-label>Título</mat-label>
                <input matInput formControlName="title" />
                <mat-error *ngIf="form.controls.title.invalid">Campo requerido</mat-error>
              </mat-form-field>
            </ng-template>
  
            <div class="prices-info-content">

              <div class="prices-wrapper">
                <span *ngIf="!isEditing()" class="original-price">{{ productData.price | currencyFormat }}</span>
                <mat-form-field appearance="fill" *ngIf="isEditing()">
                  <mat-label>Precio</mat-label>
                  <input type="number" matInput formControlName="price" />
                  <mat-error *ngIf="form.controls.price.invalid">Campo requerido</mat-error>
                </mat-form-field>

                <span class="discounted-price">
                  {{ productData.price | priceWithDiscount: productData.discountPercentage | currencyFormat }}
                </span>
              </div>

              <div class="rating-wrapper">
                <div>
                  <mat-icon class="raiting-star">star</mat-icon>
                </div>
                <p class="raiting-text">
                   <span>{{ productData.rating }}</span>
                </p>
              </div>

            </div>

            <hr class="divider">

            <p *ngIf="!isEditing()">
              <strong>Descripción:</strong> {{ productData.description }}
            </p>
            <mat-form-field appearance="fill" *ngIf="isEditing()">
              <mat-label>Descripción</mat-label>
              <textarea matInput formControlName="description" rows="3"></textarea>
              <mat-error *ngIf="form.controls.description.invalid">Campo requerido</mat-error>
            </mat-form-field>
  
            <p *ngIf="!isEditing()">
              <strong>Stock:</strong>
              <span [style.color]="productData.stock | stockColor">
                {{ productData.stock }}
              </span>
            </p>
            <mat-form-field appearance="fill" *ngIf="isEditing()">
              <mat-label>Stock</mat-label>
              <input type="number" matInput formControlName="stock" />
              <mat-error *ngIf="form.controls.stock.invalid">Campo requerido</mat-error>
            </mat-form-field>
          </div>
  
          <div class="buttons-wrapper">
            <button mat-stroked-button type="button" (click)="onCancelEdit()" *ngIf="isEditing()">Cancelar</button>
            <button mat-flat-button type="submit" color="primary" (click)="onSave()" *ngIf="isEditing()">Guardar</button>
            <button mat-flat-button type="button" color="accent" (click)="onEnableEdit()" *ngIf="!isEditing()">Editar</button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
  